<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Bike</title>
</head>
<body>
   
            <form method = "POST">
                    <label>Tên xe</label>
                    <input type="text" placeholder="CBR250RR" name="bikename"> <br>
                    <label for="">Hãng xe</label>
                    <input type="text" placeholder="e.g : Honda,Yamaha" name = "hangxe"><br>
                    <label> Image </label>
                    <input type="text"   name="image"> <br>
                    <label>Động cơ</label>
                    <input type="text"  name="dongco"> <br>
                    <label for=""> Mã lực</label>
                    <input type="text" name="maluc"><br>
                    <label for="">Hộp số</label>
                    <input type="text" name = "hopso"><br>
                    <label for="">Chiều cao yên xe</label>
                    <input type="text" name = "chieucaoyenxe"><br>
                    <label for="">Đặc điểm khác</label>
                    <input type="text" name = "dacdiemkhac"><br>
                    <label for="">Giá xe</label>
                    <input type="text" name = "giaxe"><br>
                    <button>Submit</button>

    
    
</form>
</body>
</html>