<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Phân khúc</title>
</head>
<body>
        <div class="topnav">
                <!-- <a href="#yamaha">YAMAHA</a>
                <a href="#suzuki">SUZUKI</a>
                <a href="#honda">HONDA</a>
                <a href="#ducati">DUCATI</a>
                <a href="#kawasaki">KAWASAKI</a>
                <a href="#bmwmotorrad">BWM MOTORRAD</a> -->
    
                <nav class="nav-collapse" role="navigation">
                    <ul class="tabs primary-nav">
                        <li class="tabs__item">
                            <a href="#" class="tabs__link">YAMAHA</a>
                        </li>
                        <li class="tabs__item">
                            <a href="#" class="tabs__link">SUZUKI</a>
                        </li>
                        <li class="tabs__item">
                            <a href="#" class="tabs__link">HONDA</a>
                        </li>
                        <li class="tabs__item">
                            <a href="#" class="tabs__link">DUCATI</a>
                        </li>
                        <li class="tabs__item">
                            <a href="#" class="tabs__link">KAWASAKI</a>
                        </li>
                        <li class="tabs__item">
                            <a href="#" class="tabs__link">BMW MOTORRAD</a>
                        </li>
                    </ul>
                </nav>
    
                    <div class="cntr">
                            <div class="cntr-innr">
                                <label class="search" for="inpt_search">
                                    <input id="inpt_search" type="text" />
                                </label>
                                <!-- <p>Bạn đang nghĩ tới sản phẩm gì?</p> -->
                            </div>
                    </div>

                    <div class="main_product">
                            <p class="title">HONDA</p>
                            <ul class="bar">
                                <li class="bar_link"><a href="">Intro</a></li>
                                <li class="bar_link"><a href="">Phân khúc (cc)</a></li>
                            </ul>
                        </div>
                </div>

                <div class="container">
                        <div class="row">
                            <div class="col-6 d-flex flex-column align-items-center" id="sport">
                                <div class="d-flex">
                                    <div class="title">
                                        <p>SPORT BIKE</p>
                                    </div>
                                    <div class="pkn">
                                        <ul>
                                        <li><a href="">CBR 150R</a></li>
                                        <li><a href="">add more</a></li>
                                    </ul>
                                    </div>
                                    
                                    <div class="pkl">
                                        <ul>
                                        <li><a href="">CBR 250RR</a></li>
                                        <li><a href="">CBR 600R</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-column align-items-center" id="naked">
                                <div class="d-flex">
                                        <div class="title">
                                                <p>NAKED BIKE</p>
                                        </div>
                                        <div class="pkn">
                                            <ul>
                                                <li><a href="">khong phai cai nay</a></li>
                                                <li><a href="">add more</a></li>
                                            </ul>
                                        </div>
                                        <div class="pkl">
                                                <ul>
                                                    <li><a href="">...</a></li>
                                                    <li><a href="">...</a></li>
                                                </ul>
                                        </div>
                                </div>                                
                            </div>
                </div>
</body>
</html>